@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "PT Serif", serif;
    font-weight: 500;
    font-style: normal;

}

#box {
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #010758, #490d61);
    padding-top: 100px;

}

#main-heading {
    color: white;
    font-size: 40px;
    margin-bottom: 60px;


}

u {
    color: rgb(255, 50, 50)
}

#text {
    height: 200px;
    width: 400px;
    border-radius: 20px;
    background: #403d84;
    border: none;
    text-align: left;
    color: white;
    padding: 10px;
    margin-bottom: 40px;


}

select {
    background: #403d84;
    border: none;
    height: 35px;
    width: 250px;
    border-radius: 15px;
    color: white;
}

button {
    background: rgb(255, 50, 50);
    border: none;
    margin-left: 30px;
    height: 35px;
    width: 100px;
    border-radius: 15px;
    color: white;
    font-size: 16px;

}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

button:active {
    background-color: white;
    color: rgb(255, 50, 50);
}